<p id="notice"><%= notice %></p>

<h1>Phrases left</h1>
<div>
    <p class="phrases_left"></p>
</div>

<%= link_to 'Fetch random phrase', display_phrase_path, remote: true %>
<div class="phrases"></div>
